@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
:root{
  --dark-primary:#21222A;
  --light-primary:#fff;
  --light-secondary:rgb(128, 128, 128);
}
*{
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Poppins', sans-serif;
  color: var(--dark-primary);
}
.container{
 max-width: 1200px;
 margin: 0 auto;
}
h1,h2,h3,h4,h5,h6{
  font-weight: 700;
}
p{
  font-weight: 400;
}
.text-light{
  color: var(--light-secondary);
}
.badge{
font-size: 0.75em;
font-weight: 700;
border-radius: 0.375rem;
display: inline-block;
padding:0.35em 0.65em;
line-height: 1;
text-align: center;
white-space: nowrap;
vertical-align: baseline;
}
.bg-light{
  color: var(--dark-primary);
  background-color: var(--light-primary);
}